[submodule "submodules/prezto"]
	path = submodules/prezto
	url = git@github.com:hirokazumiyaji/prezto.git
[submodule "submodules/zaw"]
	path = submodules/zaw
	url = git://github.com/zsh-users/zaw.git
